.dubai {
  background-image: url("./images/dubai.svg");
}

.zurich {
  background-image: url("./images/zurich.svg");
}

.grand-canyon {
  background-image: url("./images/canyon.svg");
}

.everest {
  background-image: url("./images/everest.svg");
}

.killimanjaro {
  background-image: url("./images/kilimanjaro.svg");
}

.manhattan {
  background-image: url("./images/newyork.svg");
}

.container {
  padding-top: 30px;
}
