.regions {
  background-image: url("../images/regions.svg");
}

.models {
  background-image: url("../images/3d-objects.svg");
  background-size: cover;
}

.compareInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
