.closeButton {
  --close-button-size: 30px;

  width: var(--close-button-size);
  height: var(--close-button-size);
  background-image: url("../images/closeButton.svg");
  background-size: var(--close-button-size);
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 2px;
  padding: 0;
  align-self: end;
}
