@import "..//variables.module.scss";

.cookieBanner {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hidden {
  transform: translateY(1000%);
  transition: transform 0.3s ease-out;
}
