@import "../../variables.module.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.menu {
  --padding-top: 15px;

  backdrop-filter: blur(15px);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background: rgb(10 10 10 / 60%);
  border: solid 1px rgb(0 0 0 / 10%);
  border-bottom: 0;
  max-width: $menuWidth;
  border-radius: 39px 39px 0 0;
  min-height: $menuHeight;
  max-height: $menuHeight;
  color: $mainColor;
  font-size: $fontSize;
  line-height: 1.3em;
  padding-block: var(--padding-top);
  padding-inline: 30px;

  & > * {
    max-height: $menuHeight;
    margin-top: calc(-1 * var(--padding-top));
  }
}

.items {
  flex-basis: 300px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.icon {
  flex: 1;
  max-height: 50%;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
}

.menuItem {
  font-size: 1.3em;
  text-decoration: none;
  color: $mainColor;
  position: relative;
  text-shadow: 2px 2px 6px rgb(0 0 0 / 50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: -100px;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    background: radial-gradient(
      circle,
      rgba(0 198 255 / 20%) 0,
      rgba(0 198 255 / 0%) 50px
    );
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    color: $highlightColor;
    text-decoration: none;
    text-shadow: 2px 2px 6px rgb(14 71 98 / 50%);

    & > .icon {
      object-position: bottom;
    }
  }
}

.logoItem {
  flex: 0;
  flex-basis: 100px;
}

.explore {
  align-items: start;

  // small nudge down to make it more visually balanced
  transform: translateY(7px);

  & > .exploreLogoHighlighted {
    position: absolute;
    opacity: 0;
  }

  & > .exploreLogo {
    position: unset;
    opacity: 1;
  }

  &:hover {
    & > .exploreLogo {
      position: absolute;
      opacity: 0;
    }

    & > .exploreLogoHighlighted {
      position: unset;
      opacity: 1;
    }
  }

  &::before {
    transform: translate(-15px, 7px);
  }
}

.exploreLogo,
.exploreLogoHighlighted {
  max-height: 40px;
  aspect-ratio: unset;
}

.credits {
  align-items: end;
  font-size: 0.85em;

  // small nudge down to make it more visually balanced
  transform: translateY(7px);

  &:hover {
    text-decoration: none;
  }
}

.esriLogo {
  aspect-ratio: unset;
}

.label {
  white-space: nowrap;
  align-self: center;
}

@media screen and (width <= 745px), screen and (height <= 415px) {
  .menu {
    box-sizing: border-box;
    font-size: $fontSize * 0.7;
    border-radius: 0;
    min-width: 100%;
    max-width: 100%;
    height: 68px;
  }
}
